body {
  background: #dee2e6; }

nav div a img {
  height: 4rem; }

.logo {
  height: 2.8rem; }

.centrarIMG {
  height: 4rem; }

p {
  color: #252525;
  font-size: 20px; }

.txt {
  text-align: center; }

.bot, .decli, .acept {
  width: 100px;
  height: 50px;
  font-size: 15px;
  color: #232323;
  border: 1px solid;
  border-radius: 20px; }

.decli {
  color: #fff;
  background-color: #323131; }

.decli:hover {
  background-color: #7a1b1b; }

.acept {
  color: #fff;
  background-color: #323131; }

.acept:hover {
  background-color: #004d00bf; }

@media only screen and (min-width: 1024px) {
  .cards {
    transition: all 0.2s ease;
    cursor: pointer; }
  .cards:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1); } }

@media only screen and (min-width: 768px) {
  .gridArea {
    display: grid;
    grid-template-areas: "destacado1" "destacado2" "destacado3";
    grid-template-columns: 100%;
    margin: 20px;
    grid-template-rows: auto auto auto; } }

@media only screen and (min-width: 1024px) {
  .gridArea {
    display: grid;
    grid-template-areas: "destacado1 destacado2 destacado3";
    grid-template-columns: repeat(3, 1fr);
    margin: 20px;
    grid-template-rows: auto auto auto; } }

.destacado1 {
  grid-area: destacado1;
  padding: 10px; }

.destacado2 {
  grid-area: destacado2;
  padding: 10px; }

.destacado3 {
  grid-area: destacado3;
  padding: 10px; }
