body {
  background: #dee2e6; }

.btn-primary {
  color: #fff;
  background-color: #232323;
  border-color: #323131; }

.btn-primary:hover {
  background-color: #5f5f5f; }

.carrusel {
  width: 1590px;
  height: 400px; }

nav div a img {
  height: 4rem; }

.logo {
  height: 2.8rem; }

.centrarIMG {
  height: 4rem; }
