    nav{
        div{
            a{
                img{
                    height: 4rem;
                    }
            }
        }
    }

.logo{
    height: 2.8rem;
}

.centrarIMG{
    height: 4rem;
}