    label:hover {
        background: #d9d9d9;
    }

    input:checked~label {
        background: #d9d9d9;
    }

    ul {
        margin-top: 0;
        padding: 0;
        width: 200px;

    }

    li {
        display: block;
        background: #252525;
        margin: 0;
        padding: 10px;
        list-style: none;
        border-bottom: 1px solid grey;
    }

    .iframe {
        grid-area: iframe;
        position: relative;
        overflow: hidden;
        width: 300px;
        height: 300px
    }

    p{
        margin: 2em;
    }

    .margen{
        margin: 1em;
    }

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.gridMain {
    display: grid;
    grid-template-areas:
        "encabezado"
        "imgMain"
        "txtMain";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
}